:root {
  --width: 800px;
  --font-main: 'IBM Plex Sans', sans-serif;
  --font-secondary: 'IBM Plex Sans', sans-serif;
   --font-mono: 'IBM Plex Mono', monospace;
   --font-quote: 'IBM Plex Serif', serif;
   --font-title: 'Work Sans', sans-serif;
  --font-scale: 1.1em;
  --background-color: #fff;
  --heading-color: #222;
  --text-color: #444;
  --link-color: #3D90C7;
   --nav-link-color: #E16B01;
  --visited-color:  #8b6fcb;
  --code-background-color: #f2f2f2;
  --code-color: #222;
  --blockquote-color: #222;
}

@media (prefers-color-scheme: dark) {
  :root {
      --background-color: #212737;
      --heading-color: #ddd;
      --text-color: #ddd;
      --link-color: #8cc2dd;
      --visited-color:  #8cc2dd;
      --code-background-color: #000;
      --code-color: #ddd;
      --blockquote-color: #ccc;-color: #212737;
}

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-main);
    color: var(--heading-color);
}
  a.title h1 {
    font-family: var(--font-title);
    font-weight: 700;
    font-style: italic;
    font-size: 2rem;
}

  nav p a {
    color: var(--nav-link-color);
  }

  footer {
    margin-top: 50px;
  }

div.wrapper {
  display: inline-flex;
  width: 100%;
  margin-bottom: 3em;
  justify-content: space-between;
}

span#socials {
  display: inline-flex;
  gap: 5%;
}

a svg {
  color: white;
}

ul.blog-posts>li>a {
  text-decoration-style: dashed;
  text-decoration-thickness: 0.2em;
  text-underline-offset: 4px;
}

footer span a {
  color: var(--text-color);
  text-decoration-line: underline;
  text-decoration-thickness: 0.2em;\
  text-decoration-style: dashed;
  text-underline-offset: 4px;
}