:root {
  --width: 800px;
  --font-main: 'IBM Plex Sans', sans-serif;
  --font-secondary: 'IBM Plex Sans', sans-serif;
  --font-mono: 'IBM Plex Mono', monospace;
  --font-quote: 'IBM Plex Serif', serif;
  --font-title: 'Work Sans', sans-serif;
  --font-scale: 1.1em;
  --font-scale-caption: 0.9em;
  --background-color: #fff;
  --heading-color: #222;
  --text-color: #444;
  --link-color: #3D90C7;
  --nav-link-color: #E16B01;
  --visited-color:  #8b6fcb;
  --code-background-color: #f2f2f2;
  --code-color: #222;
  --blockquote-color: #222;
}

@media (prefers-color-scheme: dark) {
  :root {
      --background-color: #212737;
      --heading-color: #ddd;
      --text-color: #ddd;
      --link-color: #8cc2dd;
      --visited-color:  #8cc2dd;
      --code-background-color: #000;
      --code-color: #ddd;
      --blockquote-color: #ccc;-color: #212737;
  }
}

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-main);
    color: var(--heading-color);
}
  a.title h1 {
    font-family: var(--font-title);
    font-weight: 700;
    font-style: italic;
    font-size: 2rem;
}

  nav p a {
    color: var(--nav-link-color);
  }

  footer {
    margin-top: 50px;
  }

div.wrapper {
  display: inline-flex;
  width: 100%;
  margin-bottom: 3em;
  justify-content: space-between;
}



@media only screen and (max-width: 380px) and (min-width: 490px) {
    div.h-card {
      float: inline;
        padding: 0em 0.75em 0.75em;
        border: 0.15em solid var(--nav-link-color)
    }
    div.flex-container {
      display: flex;
      justify-content: flex-end;
    }
    img.u-photo {
      width: 90%;
    }
}

@media only screen and (min-width: 490px) {
  div.h-card {
    float: inline-end;
    padding: 0em 0.75em 0.75em;
    border: 0.15em solid var(--nav-link-color)
  }
}

a.u-key {
	float: inline-end;
  	text-decoration: none;
  	color: var(--text-color);
}

a.u-key:hover {
	font-weight: bold;
  	text-decoration: none;
  	color: var(--nav-link-color);
}

span#socials {
  display: inline-flex;
  gap: 5px;
  align-items: center;
}

span.media-wrapper {
display: inline-flex;
width: 100%;
justify-content: center;
}

a svg {
  color: white;
}

ul.blog-posts>li>a {
  text-decoration-style: dashed;
  text-decoration-thickness: 0.2em;
  text-underline-offset: 4px;
}

ul>li>a:hover {
  text-decoration-style: dashed;
  text-decoration-thickness: 0.2em;
  text-underline-offset: 4px;
}

body.page.photo-blog ul.embedded.blog-posts {
  display: flex;
  justify-content: space-around;
}

body.page.photo-blog ul.embedded.blog-posts li {
  flex-flow: row wrap;
  max-width: 20%;
  padding: 0.6em;
}

footer {
  display: inline-flex;
  flex-direction: column;
  gap: 5px;
  text-align: left;
  width: 100%;
}

figure figcaption.cap {
  font-size: 0.9em;
  padding-bottom: 15px;
  line-height: 1.1;
}

span#footer-directive {
 display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  padding-bottom: 5px;
}

footer span:nth-child(2) {
  display: none;
}

footer span a {
  color: var(--text-color);
  text-decoration-line: underline;
  text-decoration-thickness: 0.2em;
  text-decoration-style: dashed;
  text-underline-offset: 4px;
}

/* Info Boxes */
.noteBoxes
{
border: 1px solid;
 border-radius: 5px;
padding: 10px;
margin: 10px 0;
width: 300px;
}

.noteBoxes .note-title {
  font-weight: bold;
  font-size: 1.2 em;
}

.type1
{
border-color: #E76F51;
background-color: #2a2219;
}

.type2
{
border-color: #2A9D8F;
background-color: #2A9D8F;
}

.type3
{
border-color: #0096C7;
background-color: rgba(0, 150, 199, 0.1);
}

.type4
{
border-color: #00B353;
background-color: rgba(0, 179, 83, 0.1);
}

.note-icon
{
width: 15px;
padding-right: 10px;
}

img.hover-image {
opacity: 0;
transition: opacity 1s ease-in-out;
-moz-transition: opacity 1s ease-in-out;
-webkit-transition: opacity 1s ease-in-out;
position: absolute;
bottom: 5em;
left: 0;
}

.image-popup {
  text-decoration-line: underline overline;
  text-decoration-thickness: 0.2em;
  text-underline-offset: 4px;
}

.anchor {
contain: layout;
text-align: center;
}

.image-popup:hover + img.hover-image {
  text-decoration-line: underline overline;
  text-decoration-thickness: 0.2em;
  text-underline-offset: 4px;
  opacity: 1.0;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
  display: block;
  position: absolute;
  bottom: 5em;
}
